:root {
    --primary-color: #473c33;
    --secondary-color: #F2DEBA;
    --secondary-color2: #1A120B;
    --back-ground-color: #FDA769;
}

html {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--back-ground-color);
    font-size: 18px;
    color: var(--secondary-color);
}

#title, #description {
    margin: 10px auto;
    text-align: center;
    color: var(--primary-color);
}

.info-container {
    width: 88%;
    clear: both;
}

.info-container input {
    width: 100%;
    clear: both;
}

.container {
    background-color: var(--primary-color);
    border-radius: 2.3em;
    min-width: 100px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow:0 0 12px 0 var(--secondary-color);
}

fieldset {
    border: none;
    border-bottom: 2px solid var(--back-ground-color);
}

fieldset:last-of-type {
    border-bottom: none;
}

input, textarea, select {
    background-color: var(--secondary-color);
    border: 1px solid var(--back-ground-color);
    border-radius: 10px;
    color: var(--secondary-color2);
    margin: 0 10px;
}

label {
    display: block;
    margin: 0.8rem 10px;
}

#submit-button {
    display: block;
    margin: auto;
    
}